.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  padding-left: 48px;
  /*height: 42px;
  может нужно прямо указть высоту элемента?
  Иначе :hover срабатывает под ссылкой.
  В брифе ничего об этом не сказано.
  Задумка дизайнера такая?
  */
}

.khan__buy-link:hover {
  opacity: 50%;
  transition: opacity 0.3s;
}
